.hex {
    cursor: pointer;
    fill-opacity: 0.4;
    stroke: #000;
    stroke-width: 1;
}

.board {
    border-style: solid;
    border-color: black;
    align-content: center;
    width: 860px;
    height: 1000px
}